{% extends 'base.html.twig' %}

{% block title %}OrderedItems index{% endblock %}

{% block body %}
    <h1>OrderedItems index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adress</th>
                <th>Paid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordered_item in ordered_items %}
            <tr>
                <td>{{ ordered_item.id }}</td>
                <td>{{ ordered_item.adress }}</td>
                <td>{{ ordered_item.paid }}</td>
                <td>
                    <a href="{{ path('ordered_items_show', {'id': ordered_item.id}) }}">show</a>
                    <a href="{{ path('ordered_items_edit', {'id': ordered_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ordered_items_new') }}">Create new</a>
{% endblock %}
