
{% extends 'home/newBootstrap.html.twig' %}
{% block content %}
<!-- Page Content -->

{% for message in app.flashes('success') %}
    <div class="row mt-3">
        <div class="col">
            <div class="alert alert-success">
                {{ message }}
            </div>
        </div>
    </div>
{% endfor %}

<div class="row">

    <div class="col-lg-3">

        <a class="nav-link" href="{{ path('home') }}"><h2 class="my-4">Categories</h2></a>
        <div class="list-group">
            {% for category in categories %}
                <a class="list-group-item" href="{{ path('category_details', {id: category.id}) }}">{{ category.name }}</a>
            {% endfor %}
        </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

        Number of products: {{ pagination|length }}
        <div class="row">

            {% for product in pagination %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="../../../../../upload/image/{{ product.product.image }}" alt="{{ product.product.name }}">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ product.product.name }}
                            </h4>
                            <h5>{{ product.product.price }} €</h5>
                            <a href="{{ path('product_details',{id: product.product.id, urlCustom: product.product.urlCustom }) }}" class="btn btn-primary">Details</a></td>
                        </div>
                    </div>
                </div>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}



        </div>
        <!-- /.row -->
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>


    </div>
    <!-- /.col-lg-9 -->


</div>
<!-- /.row -->
{% endblock %}

