{% extends 'home/base.html.twig' %}
{% block content %}

{% for message in app.flashes('success') %}
    <div class="row mt-3">
        <div class="col">
            <div class="alert alert-success">
                {{ message }}
            </div>
        </div>
    </div>
{% endfor %}

{{ form_start(formCart) }}
    {{ form_widget(formCart) }}
<button href="{{ path('confirmOrder') }}" class="btn">{{ button_label|default('next') }}</button>
{{ form_end(formCart) }}

    Total price : {{ total }} kn
{% endblock %}
