{% extends 'home/newBootstrap.html.twig' %}


{% block content %}

    <div class="col-lg-4 col-md-6 mb-4" style="margin-top: 10px">
        <div class="card h-100">
            <img class="card-img-top" src="../../../../../upload/image/{{ product.image }}" alt="{{ product.name }}">
            <div class="card-body">
                <h4 class="card-title">
                    {{ product.name }}
                </h4>
                <h5>{{ product.price }} €</h5>

            </div>
        </div>
    </div>
        {% if (is_granted('ROLE_USER')) or (is_granted('ROLE_ADMIN')) %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Add product to cart') }}</button>
            {{ form_end(form) }}
        {% endif %}

    {% if (is_granted('ROLE_USER')) or (is_granted('ROLE_ADMIN')) %}
        {% if wishlistProduct %}
            <form method="post" style="margin-top: 10px" action="{{ path('wishlist_remove', {'id': wishlistProduct.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item from wishlist?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wishlistProduct.id) }}">
                <button class="btn">Delete from wishlist</button>
            </form>
        {% else %}
        <form action = "{{ path('wishlist_new', {id: product.id}) }}" name="ShopcardType" style="margin-top: 10px" method="post">
            <button class="btn" type="submit">Add to wishlist</button>
        </form>
            {% endif %}
    {% endif %}



{% endblock %}
