





    <h1>Shopcart index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td><img width="80" height="80" src="../../../../../upload/image/{{ item.image }}" alt=""></td>

                <td>
                    <a href="{{ path('shopCartDeleteIdem', {'id': item.id}) }}">delete item from shop cart</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    Total price : {{ total }}

    <a href="{{ path('newOrder')}}">
        <button class="btn" type="submit">Order</button>
    </a>

