{% extends 'home/base.html.twig' %}



{% block content %}
<h4>Shopcart items</h4>

    <table class="table">
        <thead>
        <tr>
            <th>Product name</th>
            <th>Product image</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td><img width="80" height="80" src="../../../../../upload/image/{{ item.product.image }}" alt=""></td>

                <td>
                    <a href="{{ path('shopCartDeleteIdem', {'id': item.product.id}) }}">delete item from shop cart</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">add items to shopcart!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if total != 0 %}
    Total price : {{ total }}

    <a href="{{ path('newOrder')}}">
        <button class="btn" type="submit">Order</button>
    </a>
    {% endif %}
{% endblock %}
