{% extends 'admin/base.html.twig' %}

{% block content %}
<form action="{{ path('order_index') }}" method="get">
    <label for="email">Filter by email</label>
    <input type="text" name="email">
    <button type="submit">Find email</button>
</form>
    <form action="{{ path('order_index') }}" method="get">
        <label for="name">Filter by name</label>
        <input type="text" name="name">
        <button type="submit">Find by user first name</button>
    </form>
    <form action="{{ path('order_index') }}" method="get">
        <label for="name">Filter by name</label>
        <input type="date" name="dateStart">
        <input type="date" name="dateEnd">
        <button type="submit">Find by user first name</button>
    </form>


    <table class="table">
    <thead>
    <tr>
        <th>User name</th>
        <th>User email</th>
        <th>Phone</th>
        <th>city</th>
        <th>adress</th>
        <th>status</th>

    </tr>
    </thead>
    <tbody>
{% for order in orders %}
    <tr>
        <td>{{ order.user.firstName }} {{ order.user.lastName }}</td>
        <td>{{ order.user.email }}</td>
        <td>{{ order.phone }}</td>
        <td>{{ order.city }}</td>
        <td>{{ order.adress }}</td>
        <td>{{ order.paid }}</td>

    </tr>
{% else %}
    <tr>
        <td colspan="6">no records found</td>
    </tr>
{% endfor %}
    </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(orders) }}
    </div>

{% endblock %}


