{% extends 'admin/base.html.twig' %}

{% block content %}

    {% for message in app.flashes('success') %}
        <div class="row mt-3">
            <div class="col">
                <div class="alert alert-success">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
    Filter by email:
    <form action="{{ path('admin_orders')}}" method="GET">
        <input type="text" name="email">
        <input type="submit" value="filter email">

    </form>
    Filter by user first name:
    <form action="{{ path('admin_orders')}}" method="GET">
        <input type="text" name="name">
        <input type="submit" value="filter name">
    </form>
    Filter by date range:
    <form action="{{ path('admin_orders')}}" method="GET">
        <input type="date" name="dateStart">
        <input type="date" name="dateEnd">
        <input type="submit" value="filter date">
    </form>
    <table class="table">
    <thead>
    <tr>
        <th>User name</th>
        <th>User email</th>
        <th>Total price</th>
        <th>Adress</th>
        <th>status</th>
        <th>payment method</th>
        <th>Date</th>
        <th>details</th>
        <th>Get PDF</th>
        <th>Update order</th>
        <th>Deleteorder</th>
    </tr>
    </thead>
    <tbody>
{% for order in orders %}
    <tr>
            <td>{{ order.userName }}</td>
            <td>{{ order.userMail }}</td>
            <td>{{ order.totalPrice }} €</td>
            <td>{{ order.address }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.type }}</td>
            <td>{{ order.date }}</td>
        <td><a href="{{ path('admin_user_order', {id: order.id}) }}" class="btn btn-primary">Orders</a></td>
        {% if order.pdf == 1 %}
            <td><a href="{{ path('order_download', {file: order.id }) }}" class="btn btn-primary">Download PDF</a></td>
        {% else %}
            <td> </td>
        {% endif %}
        {% if order.pdf == 1 and order.status == 'new' %}
            <td><a href="{{ path('admin_order_update', {id: order.id }) }}" class="btn btn-primary">Update Order</a></td>
        {% else %}
            <td> </td>
        {% endif %}
        <td><a href="{{ path('admin_order_delete', {id: order.id}) }}" class="btn btn-danger">Delete</a></td>
    </tr>
{% else %}
    <tr>
        <td colspan="6">no records found</td>
    </tr>
{% endfor %}
    </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(orders) }}
    </div>



{% endblock %}


