{% extends 'admin/base.html.twig' %}

{% block content %}
        {% for message in app.flashes('success') %}
                <div class="row mt-3">
                        <div class="col">
                                <div class="alert alert-success">
                                        {{ message }}
                                </div>
                        </div>
                </div>
        {% endfor %}
        <table class="table">
                <thead>
                <tr>
                        <th>content</th>
                        <th>URL</th>
                        <th>Edit</th>
                        <th>Delete</th>

                </tr>
                </thead>
                <tbody>
                {% for customPage in customPages %}
                        <tr>
                                <td>{{ customPage.content }}</td>
                                <td>{{ customPage.customUrl }}</td>
                                <td><a href="{{ path('customPage_edit', {id: customPage.id}) }}" class="btn btn-danger">Edit</a></td>
                                <td><a href="{{ path('customPage_delete', {id: customPage.id}) }}" class="btn btn-primary">Delete</a></td>
                        </tr>
                {% else %}
                        <tr>
                                <td colspan="6">no records found</td>
                        </tr>
                {% endfor %}
                </tbody>
        </table>

        <a href="{{ path('customPage_new') }}">Create new custom page</a>
{% endblock %}