{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h3>Create new product</h3>
        {{ form_start(form) }}
        {{ form_row(form.productnumber) }}
        {{ form_row(form.price) }}
        {{ form_row(form.image) }}
        {{ form_row(form.name) }}
        <button type="submit" class="btn btn-primary mt-3" formnovalidate>Save</button>
        {{ form_end(form) }}
    </div>
</div>

    <a href="{{ path('product_index') }}">back to list</a>
{% endblock %}
