{% block header %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../styles/bootstrap4/bootstrap.min.css">
    <link href="../../plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../../plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../../plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="../../plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../../styles/shop_styles.css">
    <link rel="stylesheet" type="text/css" href="../../styles/shop_responsive.css">

</head>
<div class="super_container">

    <header class="header">

        <div class="top_bar">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-row">
                        <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="../../images/phone.png" alt=""></div>098 94 88 312</div>
                        <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="../../images/mail.png" alt=""></div><a href="mailto:krunom@gmail.com">krunom92@gmail.com</a></div>
                        <div class="top_bar_content ml-auto">

                            <div class="top_bar_user">
                                <div class="user_icon"><img src="../../images/user.svg" alt=""></div>
                                {% if (is_granted('ROLE_USER')) or (is_granted('ROLE_ADMIN')) %}
                                    <div><a href="{{ path('app_logout') }}">Logout</a></div>
                                {% else %}
                                    <div><a href="{{ path('app_register') }}">Register</a></div>
                                    <div><a href="{{ path('app_login') }}">Sign in</a></div>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <div><a href="{{ path('admin') }}">Admin panel</a></div>

                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header_main">
            <div class="container">
                <div class="row">

                    <!-- Logo -->
                    <div class="col-lg-2 col-sm-3 col-3 order-1">
                        <div class="logo_container">
                            <div class="logo"><a href="{{ path('home') }}">WebShop</a></div>
                        </div>
                    </div>

                    <!-- Search -->
                    <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">

                    </div>


                    <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                        <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </header> {% endblock %}

{% block content %}
    {% for message in app.flashes('warning') %}
        <div class="row mt-3">
            <div class="col">
                <div class="alert alert-success">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
    <h1>Shopcard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Delete product from shopcart</th>
            </tr>
        </thead>
        <tbody>
        {% for shopcard in shopcards %}
            <tr>
                <td>{{ shopcard.name }}</td>
                <td>{{ shopcard.productnumber }}</td>
                <td>{{ shopcard.productnumber * shopcard.price }} kn</td>
                <td>
                    <a href="{{ path('shopcard_delete', {'id': shopcard.id}) }}">delete</a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    Total :{{ total }} kn <br>

{% endblock %}
    {% if shopcards|length > 0 %}

        {{ form_start(formCoupon,  {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_widget(formCoupon) }}
        <button class="btn">{{ button_label|default('Insert Coupon') }}</button>
        {{ form_end(formCoupon) }}


        {{ form_start(form,  {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}

    {% endif %}
    {% block footer %}


</div>
</body>
</html>
{% endblock %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
    $('#insert_coupon').submit(function(){
        $(this).hide();
    })
</script>
